.footer {
    background-color: #ffffff;
    display: grid;
    row-gap: 25px;
  }

  .footer--kunteynir {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    grid-column: 1/2;
    }
  

  .footer--info {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  row-gap: 25px;
  display: grid;
  grid-column: 1/2;  }
  
  .footer--img {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1/2;
    }
  
  .media_block--footer {
    grid-template-columns: repeat(4,75px);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-column: 1/2;
    }
  
  
  .footer-text {
    font-family: "open-sans-light";
    font-size: 14px;
  }
  .footer-text p {
    font-family: "open-sans-light";
    font-size: 14px;
  }
  
  .footer-text li {
    list-style: none;
    padding: 5px;
    transition: 500ms;
    font-family: "open-sans-light";
    color: #1937b9;
  }
  
  .footer-text a {
    list-style: none;
    padding: 5px;
    transition: 500ms;
    font-family: "open-sans-light";
    color: #1937b9;
  }
  
  .footer-text li.footer-h {
    color: #2f2f2f;
    font-family: open-sans-semibold;
  }
  
  a.footer-h {
    color: #2f2f2f;
    font-family: open-sans-semibold;
  }
  
  a.footer-h:hover {
    color: #1937b9;
  }
  
  .footer-text li.footer-h:hover {
    color: #1937b9;
  }
  
  .footer-text li:hover {
    color: #2f2f2f;
    cursor: pointer;
    transition: 500ms;
  }
  
  .footer-text a:hover {
    color: #2f2f2f;
    cursor: pointer;
    transition: 500ms;
  }
  
  .footer--lastimg {
  margin-bottom: 25px;
  width: 230px;
  max-height: 16px;
  margin-left: auto;
  margin-right: auto;
  grid-column: 1/2;  }
  
  .hreftocatalog {
    color: #1937b9;
    font-style: italic;
    transition: 500ms;
  }
  
  .hreftocatalog:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 500ms;
  }